
<nav class="navbar navbar-expand-md bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand">Movie App</a>
        <ul class="navbar-nav d-flex me-auto">
            <li class="nav-item">
                <a href="" class="nav-link active me-3">Home</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Movies</a>
            </li>
        </ul>
    </div>
</nav>


